#container{
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
	height: 100%;
}
#team{
	padding: 20px;
	width: 200px;
	border: 1px solid #999;
	float: left;
	background-color: white;
	height: 120px;
	box-sizing: border-box;
	position: relative;
}
#main{
	padding: 20px;
	border: 1px solid #999;
	background-color: white;
	margin-left: 220px;
	margin-right: 140px;
	height: 100%;
	word-break: break-all;
}
#logo{
	padding: 20px;
	width: 120px;
	border: 1px solid #999;
	float: right;
	background-color: white;
	text-align: center;
	box-sizing: border-box;
}
.pp{
	margin: 0 0 20px 0; 
}
#team span{
	position: absolute;
	top: 20px;
	right: 20px;
}